.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-row-button {
  color: #FFFFFF;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}